<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учасники Phoenix Energy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
</head>
<body>

<div class="container">

    <!-- Кнопка назад над заголовком, лише смайлик -->
    

    <h1>Учасники Phoenix Energy</h1>

        <div class="links">
            <a href="https://www.instagram.com/anastacia.shapoval/" class="btn">Анастасія Шаповал</a>
            <a href="https://www.instagram.com/annapasechnik4198?igsh=eHdzYjl5NnB1MjIx" class="btn">Ганна Пасічник</a>
            <a href="https://www.instagram.com/18_anastasi_11/?utm_source=ig_web_button_share_sheet" class="btn">Анастасія Спільник</a>
            <a href="https://www.instagram.com/andrejskotarenko4?igsh=eWhqeGxzNjhpYXRt" class="btn">Андрій Скотаренко</a>
            <a href="https://www.instagram.com/m0rblinn?igsh=MW5tMndyc2c0cTN4Mg==" class="btn">Анна Коробка</a>
            <a href="https://www.instagram.com/_hrebinetsdasha_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D" class="btn">Дар’я Гребінець</a>
            <a href="https://www.instagram.com/dimamel69?igsh=dHFjc3F0Y3IzazBj" class="btn">Дмитро Мельник</a>
            <a href="/evgen" class="btn">Євген Полтавський</a>
            <a href="https://www.instagram.com/yano_4_ka?igsh=MTl6YWhsd2hsaXJsZA==" class="btn">Яна Маріян</a>
        </div>
        <a href="/" class="back-btn-inline">Назад</a>

</div>

</body>
</html>
